@page "/"


<style>
    .main-container {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-content: space-evenly;
    }

    .table-container {
        border-spacing: 30px;
        border-collapse: separate;
    }

    .question-card {
    }

    .radio-control {
        margin: 5%;
    }

    .row {
        margin-bottom: 5%;
    }

</style>

<div class="main-container">
    <table class="table-container">
        <tr>
            <td >
                <div class="col-lg-9 col-10 mx-auto">
                    <SfProgressBar Type="ProgressType.Linear" ID="LinearSegment"
                                   Height="30"
                                   Width="100%"
                                   Value="@ProgressValue"
                                   Minimum="0"
                                   Maximum="50"
                                   Theme="Theme.Bootstrap"
                                   CornerRadius="CornerType.Round"
                                   TrackThickness="15"
                                   ProgressThickness="15">
                        <ProgressBarAnimation Enable="true" Duration="100" Delay="0" />
                    </SfProgressBar>
                </div>
            </td>
        </tr>
        <tr>
            <td>

                @*<div class="card">
                    <div class="card-body col-lg-9 col-10 mx-auto">
                        This is some text within a card body.
                        @CardQuestion
                    </div>
                </div>*@
                <SfCard Orientation=CardOrientation.Vertical CssClass="col-lg-9 col-10 mx-auto question-card">
                    <CardHeader Title="Question" />
                    <CardContent Content="@CardQuestion" />
                </SfCard>
            </td>
        </tr>
        <tr>
            <td>
                <SfCard Orientation=CardOrientation.Vertical CssClass="col-lg-9 col-10 mx-auto">
                    <CardContent>
                        <div class="radio-control">
                            <div class="row">

                                <SfRadioButton Label="@Answer1" Name="answer" Value="true" Checked="false"></SfRadioButton>
                            </div>
                            <div class="row">
                                <SfRadioButton Label="@Answer2" Name="answer" Value="false" Checked="false"></SfRadioButton>
                            </div>
                            <div class="row">
                                <SfRadioButton Label="@Answer3" Name="answer" Value="false" Checked="false"></SfRadioButton>
                            </div>
                            <div class="row">
                                <SfRadioButton Label="@Answer4" Name="answer" Value="false" Checked="false"></SfRadioButton>
                            </div>
                        </div>

                    </CardContent>
                </SfCard>
            </td>
        </tr>

        <tr>
            <td align="right">
            <SfButton Content="Okay" OnClick="@OnButtonClick"></SfButton>
            </td>
        </tr>
    </table>
    @*Question Card*@


    @*Choices Card*@

 </div>



@code { 
    int ProgressValue = 0;

    string Answer1 = "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc congue commodo vehicula. Vestibulum sed urna blandit, dignissim nisl non, volutpat.";
    string Answer2 = "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc congue commodo vehicula. Vestibulum sed urna blandit, dignissim nisl non, volutpat.";
    string Answer3 = "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc congue commodo vehicula. Vestibulum sed urna blandit, dignissim nisl non, volutpat.";
    string Answer4 = "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc congue commodo vehicula. Vestibulum sed urna blandit, dignissim nisl non, volutpat.";
    string CardQuestion = "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc congue commodo vehicula. Vestibulum sed urna blandit, dignissim nisl non, volutpat.";



    void OnButtonClick()
    {
        CardQuestion = "2";
        Answer1 = "Answer 2";
        Answer2 = "Answer 2";
        Answer3 = "Answer 2";
        Answer4 = "Answer 2";
        ProgressValue++;
    }


} 