@page "/"


<style>
    .main-container {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-content: space-evenly;
    }


    .question-card {
    }

    .radio-control {
        margin: 5%;
    }

    .row {
        margin-bottom: 5%;
    }

</style>

<div class="main-container">
    <SfCard Orientation=CardOrientation.Vertical CssClass="col-lg-9 col-md-6 mx-auto question-card">
        <CardHeader Title="Question" />
        <CardContent Content="@CardQuestion" />
    </SfCard>
    <br />
    <br />
    <SfCard Orientation=CardOrientation.Vertical CssClass="col-lg-9 col-md-6 mx-auto">
        <CardContent>
            <div class="radio-control">
                <div class="row">

                    <SfRadioButton Label="@Answer1" Name="answer" Value="true" Checked="false"></SfRadioButton>
                </div>
                <div class="row">
                    <SfRadioButton Label="@Answer2" Name="answer" Value="false" Checked="false"></SfRadioButton>
                </div>
                <div class="row">
                    <SfRadioButton Label="@Answer3" Name="answer" Value="false" Checked="false"></SfRadioButton>
                </div>
                <div class="row">
                    <SfRadioButton Label="@Answer4" Name="answer" Value="false" Checked="false"></SfRadioButton>
                </div>
            </div>

    </CardContent>
</SfCard>
 </div>



@code { string Answer1 = "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc congue commodo vehicula. Vestibulum sed urna blandit, dignissim nisl non, volutpat.";
            string Answer2 = "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc congue commodo vehicula. Vestibulum sed urna blandit, dignissim nisl non, volutpat.";
            string Answer3 = "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc congue commodo vehicula. Vestibulum sed urna blandit, dignissim nisl non, volutpat.";
            string Answer4 = "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc congue commodo vehicula. Vestibulum sed urna blandit, dignissim nisl non, volutpat.";
            string CardQuestion = "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc congue commodo vehicula. Vestibulum sed urna blandit, dignissim nisl non, volutpat."; } 